    body {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }

    .screenReaderOnly {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .olControlPanZoomBar {
        top: 40px !important;
    }
    
    .x-panel-body,
    .x-fieldset-header-text, 
    .x-form-item-label,
    .x-panel-header-title,
    .x-window-header-title,
    .x-tab-inner,
    .x-btn-inner,
    .x-grid-cell-inner,
    .x-form-display-field-default {
        color: #2B292A !important;
    }    
     
    .x-grid-item-selected {
        background-color: #E6E6E6 !important;
        color: #2B292A !important;
    }
    
    .x-grid-item-over {
        background-color: #E6E6E6 !important;
        color: #2B292A !important;
    }
    
    .x-grid-cell-inner::before {
        border: none !important;
        color: #2B292A !important;
    }
    
    .x-panel-header-title-default > .x-title-text-default:after {
        display: none;
    }
    .x-panel-header-title-default-framed > .x-title-text-default-framed:after {
        display:none;
    }
    .x-window-header-title-default > .x-title-text-default:after {
        display:none;
    }
    .x-panel-header-title-light > .x-title-text-light:after {
        display:none;
    }
    .x-panel-header-title-light-framed > .x-title-text-light-framed:after {
        display:none;
    }
    .x-panel-header-title-navigation > .x-title-text-navigation:after {
        display:none;
    }
    
    .olControlPanZoomBar .div {
        position: absolute;
    }
    
    #auscope-tabs-panel {
        top: 0 !important;
    }

    #header-container {
        background-color: #303030;
        width: 100% !important;
        height: 55px !important;
    }

    #header-container div {
        background-color: #303030;
        border: none !important;
    }
        
    #header-container-body div {
        border-color: #2B292A;

    }

    .x-title-rotate-right .x-title-text {
        color: transparent;
    }

    /* wrapper for search controls and links */
    #header-container div#wrapper-search-and-links {
       /* border-top : 1px solid #fff !important; */
       left : auto !important;
       padding : 0;
       position : absolute !important;
       right : 0 !important;
       height : 0px !important;
       width : 100% !important;
    }
    
    div#wrapper-search-and-links a {
        text-decoration : none !important;
        font-size : 12px !important;
    }
    
    div#wrapper-search-and-links a:hover,
    div#wrapper-search-and-links a:focus {
        text-decoration : underline !important;
    }
    
    #search-controls {
        clear: both;
        display: flex;      
        justify-content: space-between;
        color: white !important;
        line-height: 25px;
        height : 25px !important;
        right : 255px;
        left : 300px !important;
        position : absolute;
        top : 0 !important;
    }

    #basic-search-input {
        height: 25px;
        border: 1px solid #ffffff;  
        padding-left : 5px;
        width : 210px;
    }

    #search-controls label {
        margin-right: 5px;
    }

    #search-controls a {
        color: white !important;
    }
    
    #activeLayersPanel {
        top: 55px !important;
    }
 
    #header-container-innerCt {
        width: 100%;
        color: #ffffff;
        background-color: #303030;
        position:fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        line-height: 0px;
        height : 55px !important;
    }

    /* wrapper for ausgin-logo */
    div#header-container-targetEl {
        height : 0px;
    }

    #header-container-innerCt div {
        width: 100% !important;
    }
 
     #header-icon {
        width: 47px !important;
        margin-left: 0px !important;
        background: #303030 url( "../img/logos/headerIcon.jpg" ) no-repeat top left;
        background-size: 100% 45px;
        display : block !important;
        height : 45px;
        position : relative;
        top : 0px !important;
        z-index: 202;
    }

    #header-redesign {
        width: 53px !important;
        margin-left: 0px !important;
        background: #303030 url( "../img/logos/headerRedesign.jpg" ) no-repeat top left;
        background-size: 100% 50px;
        display : block !important;
        height : 50px;
        position : relative;
        top : 0px !important;
        z-index: 202;
    }

    #header-redesign::after {
        content: "AUSGIN Geoscience Portal";
        position: absolute !important;
        top: 25px !important;
        left: 60px !important;
        height: 50px;
        width: 400px;
        font-size: 200%;
    }

    #ausgin-logo {        
        width: 100% !important;
        margin-left: 0px !important;
        background: #2B292A url( "../img/logos/ausgin-logo.png" ) no-repeat top left;
        display : block !important;
        height : 0px;
        position : relative;
        top : 5px !important;
        width : 100%  !important;
        z-index: 99;
    }
    #center_region + div{
        bottom:0 !important;
        height:20px !important;
    }

    #footer-container-1:hover {
        bottom:  0;
    }

    #footer-container-2:hover {
        bottom:  0;
    }

    #footer-top {
        font-weight: 500;
        font-size: small;
        z-index:10002;
        top: 0px !important;
        width: 100% !important;
        line-height: 2.4em;
        background-color: #303030 !important;
        color: white;
    }

    #footer-container-1{
        background-color: #303030;
        z-index: 10001;
        position: fixed;
        width: 100%;
        bottom: -132px;
        height: 161px !important;
        -moz-animation: logoFlyout 7s linear;
        -webkit-animation: logoFlyout 7s linear;
        animation: logoFlyout 7s linear;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    #footer-container-2{
        background-color: #303030;
        z-index: 10001;
        position: fixed;
        width: 100%;
        bottom: -66px;
        height: 96px !important;
        -moz-animation: logoFlyout 7s linear;
        -webkit-animation: logoFlyout 7s linear;
        animation: logoFlyout 7s linear;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    #footer-container-1-body {
        height: 200px !important;
    }
    #footer-container-1-innerCt {
        height: 200px !important;
    }
    #footer-container-2-body {
        height: 200px !important;
    }
    #footer-container-2-innerCt {
        height: 200px !important;
    }
    #footer-main {
        height: 200px !important;
        margin-top: 5px !important;
    }
    #footer-main-body {
        height: 200px !important;
    }
    #footer-main-innerCt {
        height: 200px !important;
    }

    #footer-heading{  
        position: fixed;
        bottom: 50px;
        left: 50%;
    }
    @-moz-keyframes logoFlyout {
        0% {
            bottom: 0;
        }
        80% {
            bottom: 0;
        }
        100% {
            bottom: -65px;
        }
    }
    @-webkit-keyframes logoFlyout {
        0% {
            bottom: 0;
        }
        80% {
            bottom: 0;
        }
        100% {
            bottom: -65px;
        }
    }
    @keyframes logoFlyout {
        0% {
            bottom: 0;
        }
        80% {
            bottom: 0;
        }
        100% {
            bottom: -65px;
        }
    }   

   
    #footer-container div {
        border: none !important;
    }
    
    #footer-container-innerCt {
        width: 100%;
        /*height: 50px !important;*/
        background-color: #303030;
        line-height: 60px; 
        display: flex;
        justify-content: space-between;
        padding: 1em !important;
        border: none;
    }
    
    #menu-bar {
        width: 100%;
        height: 0px;
        color: #000000;
        position: fixed;
        left: 0px;
        z-index: 1;
        background-color: #FBAD17 !important;
        line-height: 0px;
        font: 12px Arial, Tahoma, Helvetica, sans-serif;
        margin-top : 0 !important;
        top : 100px !important;
    }
    
    #menu-bar ul {
        list-style: none;
        margin-top: 8px;
        padding: 0;
    }

    #menu-bar li img {
        margin-top: -2px;
        position: fixed;
    }

    #menu-bar li {
        display: inline-block;
        list-style-type: none;
    }

    .x-toolbar-text {
        position: absolute;
        z-index: 200;
    }

    .x-toolbar-item {
        position: absolute;
        z-index: 200;
    }

    #center_region {
       border: 1px solid rgb(193, 193, 193) !important;
       top: 55px !important;
       position: absolute;
       z-index: 110;
       height: calc(100% - 60px) !important;
   }

    #center_region-body {
        padding-bottom: 25px !important;
        height: 100% !important;
    }

    #region-west {
        padding-bottom: 25px !important;
        top: 55px !important;
        position: absolute;
        height: 100% !important;
        z-index: 110;
    }

    #auscope-tabs-panel {
        height: 100% !important;
    }

    #region-west-body {
        height: calc(100% - 85px) !important;
    }

    #auscope-tabs-panel-body {
        height: calc(100% - 30px) !important;
    }

    #knownLayersPanel {
        height: calc(100% - 5px) !important;
    }

    #knownLayersPanel-body {
        height: calc(100% - 50px) !important;
    }

    #personalpanelcswfilterform-body {
        height: calc(100% - 15px) !important;
    }

    #personalpanelcswfilterform {
        height: 100% !important;
    }

    .x-panel-header-collapsed-left {
        top: 55px !important;
        position: absolute;
        z-index: 110;
        height: calc(100% - 85px) !important;
    }

    #menu-bar a {
        position:relative;
        padding-left:15px;
        padding-right:10px;
        text-decoration:none;
        color: #000000;
        left: 5px;
    }
    
    #basic-search-link {
        height: 25px;
        width: 30px;
        background: #FBAD17 url( "../img/magglass.gif" ) no-repeat center center; 
        border: 1px solid #ffffff;    
    }
    
    #clear-search-link {
        margin-left: 10px;
    }
    
    #advanced-search-link {
        margin-left: 10px;
    }

    #powered-by-logo {
        left: 20px;
    }

    #powered-by-logo-text {
        text-decoration: none;
        color: #000000;
        height: 50px;
    }

    #powered-by-logo-image {
        background: #2B292A url( "../img/logos/auscope-logo.png" ) no-repeat center center;
        height: 50px;
    }

    /* 'contact us' + 'skip to content' wrapper */
    #header-container-innerCt div#ga-header-south-panel-links {
        left: auto !important;
        margin-right : 20px !important;
        right : 10px !important;
        top : 0 !important;
        width : 225px !important;
        z-index: 99;
    }

    /* 'contact us' + 'skip to content' lists */
    #header-container-innerCt div#ga-header-south-panel-links li {
        height : 25px;
        line-height : 25px;
    }

    /* 'contact us' + 'skip to content' links */
    #header-container-innerCt div#ga-header-south-panel-links li a {
        padding-left : 0px !important;
        /*        padding-left : 0px !important;*/
        padding-right : 0 !important;
    }
    
    #header-controls {
        font-size: 10pt;
        display: inline;
        line-height: 17px;
        text-align: right;
    }

    #header-controls ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #header-controls li {
        display: inline-block;
        list-style-type: none;
    }

    #header-controls a {
        position:relative;
        padding-left:0px;
        text-decoration:none;
        color: #ffffff;
    }
        
    #body-container {
        position: fixed;
        top: 100px;
        bottom: 0px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }


    .related-portal-div {
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 1px solid black;
    }


    .centeredlabel {
         margin:15px;
         padding:15px;
         border:1px dotted #999;
         color:#555;
         background: #f9f9f9;
    }


    /*<!-- AUS-1466 - disable red triangles - they confuse people -->*/
    .x-grid-dirty-cell {
        background-image:none ! important;
    }
    .x-grid3-dirty-cell {
        background-image:none ! important;
    }
    
    .layerabstractpopupbody {
        padding: 10px; border: none;
    }
    
    
    .multiline-row .x-grid-cell-inner {
        overflow: auto !important;
        white-space: normal !important;
        text-overflow: ellipsis;
        display: block;
    }
	
    .gasearchresult .x-panel-body {
        border: none;
    }
    
    .gasearchresult .name {
        font-weight: bold;
        background-color: #f3f3f3;
        width: 100%;
    }

    .gasearchresult .x-box-inner {
        position: unset;
    }
    .gasearchresult .links {
        width: 500px;
        height: 30px;
        top: 10px;
        border: none;
    }
    
    .gasearchresult .links a {
        padding-right: 30px;
        position: relative !important;
    }
    
    .gasearchresult .links span {
        padding-right: 30px;
        position: relative !important;
    }
    
    .dataregistries-checkboxgroup-label {
        position: absolute;
    }
    
    .pretendLinkEnabled {
        color:blue; 
        text-decoration:underline; 
        cursor:pointer;
    }
    
    .pretendLinkDisabled {
       color: gray; 
       text-decoration: none;
       cursor: default;
    }
    
    .onlineresourcedetails {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    
    
    #header-container-innerCt, 
    #header-container-body {
        height : 130px !important;
    }

    .olControlInfoItemActive { 
        background-image: url("../img/info.png") !important;
        background-color: #EFBE2A;   
        height: 22px;
        width: 24px;
        top: 5px;
        border: 1px solid gray;
        border-radius: 3px;
        background-position: 0.5px 0px;
    }
    
    .olControlInfoItemInactive { 
        background-image: url("../img/info.png") !important;
        background-color: #E6E6E6;
        height: 22px;
        width: 24px;
        top: 5px;
        border: 1px solid gray;
        border-radius: 3px;
        background-position: 0.5px 0px;
    }    
    
    .olControlNavToolbar, .olControlEditingToolbar {
        margin: 30px 0 0 0;
    }
    
    .dataLayersDiv, .dataLbl {
        display: none;
    }
    
    .x-toolbar-footer {
        background-color: #E6E6E6;
    }
    
    .x-grid-item {
        border: 1px #E6E6E6 solid !important;
    }
    
    /* class for UI elements that should not be displayed at all */
    .displayNone {
        display: none !important;
    }
    
    .queryResultPanel .x-panel-body {
        border: none !important;
        padding: 5px important;
        margin: 5px !important;        
    }
    
    .queryResultPanel .x-toolbar-footer {
        background-color: #FFFFFF !important;
    }
        
    #x-autocontainer-innerCt {
        border: none !important;
    }
    
    .x-menu-header {
        background-color: #FBAD17 !important;
    }
    h1.featureInfo {
        font-size: 14pt;
        margin-bottom: -20px;
    }

    table.featureInfo {
        margin-top: 10px;
        width: 100%;
        border:1px solid black;
        font-family: arial;
        font-size: 90%; color: #333333;
        border-spacing: unset;
    }

    table.featureInfo>tbody>tr>td {
        padding: 2px;
    }

    table.featureInfo>tbody>tr>td:first-child {
        font-weight: bold;
    }

    table.featureInfo>tbody>tr:nth-child(even) {
        background: #CCC
    }

    table.featureInfo>tbody>tr:nth-child(odd) {
        background: #FFF
    }

    table.featureInfo>th, table.featureInfo>td {
       vertical-align: top; text-align: left;
    }

    table.featureInfo>th {
       background-color: #aed7ff;
    }

    #legendPopup .x-panel-body {
        padding-bottom: 16px;
        padding-right: 16px;
    }

    .x-btn-inner-default-small, 
    .x-btn-inner-default-toolbar-small {
        max-width: calc(100%) !important;
    }

    .noTextOverflow .x-grid-cell-inner  {
        text-overflow: clip !important;
    }

    /*GPT-284 - Add "Powered by AuScope" to top banner */
    #sponsor-link-2 {
       color:white;
       font-family: sans-serif;
       line-height: 30px;
       padding-left: 1em;
       width: 180px;
    }
     #sponsor-link-2 a {
        text-decoration: none;
        color:white;
        width: 160px;
    }
    #sponsor-link-2 a img{
       vertical-align: middle;
    }

    /*GPT-461 - Changes to left hand panel section */
    #registryTabCheckboxGroup {
       left: 10px;
    }

    #header-text {
        font-size: 200%;
    }

    #region-west-placeholder-targetEl:hover:after {
        content: "Choose data layers to add to the map";
        position: fixed !important;
        top: 60px !important;
        left: 40px !important;
        width: 400px !important;
        z-index: 2000001 !important;
        overflow: visible !important;
        color : white;
        font-size: 120%;
    }

    #region-west-placeholder {
        z-index: 99999999 !important;
    }

    #region-west_header-innerCt .x-btn {
        left: 100px !important;
    }